
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <!-- <a class="navbar-brand" href="/" > -->
    <a class="navbar-brand" href="/" >
        <img
            alt="Logo"
            src="/images/logo.png"
            style="height: 40px; margin-left: 15px;margin-top: -10px;"
            class="d-none"
        />
        AZAppProxy
    </a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--  -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {{#if currentUser}}
            <li class="nav-item">
                <a class="nav-link" href="/" >Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/ssl" >SSL</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/proxies" >Proxies</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/users" >Users</a>
            </li>

            {{!-- <li class="nav-item">
                <a class="nav-link" href="/help" >Help</a>
            </li> --}}

            {{/if}}
            
            <li class="nav-item">
                <a class="nav-link" href="/about" >about</a>
            </li>

            {{#unless currentUser}}
            <li class="nav-item">
                <a class="nav-link" href="/login" >Login</a>
            </li>
            {{/unless}}
            <!-- <li class="nav-item">
                <a class="nav-link" href="/menu" >Menu</a>
            </li> -->

            <!-- <li class="nav-item">
                <a class="nav-link" href="/user/setting" >user</a>
            </li> -->

            <!-- <li class="nav-item">
                <a class="nav-link" href="/counter" >counter</a>
            </li> -->

            <!-- <li class="nav-item">
                <a class="nav-link " href="/admin/menu" > menu manager </a>
            </li> -->

            <!-- <li class="nav-item">
                <a class="nav-link " href="/admin/users" > user manager </a>
            </li> -->


           <!-- <li class="nav-item">
                <a class="nav-link disabled" href="/foobar" > ... </a>
            </li> -->

                {{#if currentUser }}
            
                <ul class="navbar-nav" id="currentUserMenu">
                    <li class="nav-item dropdown ">
                        <a
                            class="nav-link dropdown-toggle"
                            href="/#"
                            id="navbarDropdown"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                            &nbsp; {{currentUser.name}} &nbsp;
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item " href="/admin/profile" > Profile </a>

                            {{!-- <div>
                                <a class="dropdown-item " href="/manage/cats" >page 2</a>
                                <a class="dropdown-item" href="/manage/depts" >page 3</a>
                                <a class="dropdown-item" href="/manage/users" >page 4</a>
                                <a class="dropdown-item" href="/" >Another action</a>
                            </div> --}}

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout" >Logout</a>
                        </div>
                    </li>
                </ul>
            
                {{/if}}
        </ul>

        <form class="form-inline my-2 my-lg-0 d-none">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div>
            <DateTime />
        </div>
        <div>
            <ChangeLanguage />
        </div>
    </div>
</nav>

<style>
    .collapse {
        visibility: inherit;
    }
</style>
