{{!-- 
<div class="d-sm-none d-sm-">XS</div>
<div class="d-md-none">SM</div>
<div class="d-lg-none">MD</div>
<div class="d-xl-none">LG</div>
--}}

<form id="loginForm" method="POST" action="/login">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-md-7 col-lg-6 col-xl-5">
            <div class="card animated fadeIn faster">
                <div class="card-header bg-primary text-white display-5 text-center">
                    Login
                </div>
                <div class="card-body">

                    <div class="row">

                        <div class="col-md-12 mb-3">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" name="email" id="email" placeholder="Email" value="{{ email }}">
                        </div>

                        <div class="col-md-12 mb-3">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                        </div>

                        {{#if error}}
                        <div class="col-md-12 mb-3">
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        </div>
                        {{/if}}

                        <div class="col-md-6 mb-3">
                            <button type="submit" class="btn btn-block btn-primary btn-raised ripple" id="login">Login</button>
                        </div>

                        <!-- Reset password link -->
                        <div class="col-md-6 mb-3 text-end">
                            <a class="btn btn-block btn-secondary btn-raised ripple" href="/resetpassword">reset password</a>
                        </div>

    </div>
                </div>
            </div>
        </div>
    </div>
</form>