<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow animated fadeIn faster">
                <div class="card-header bg-primary text-white text-capitalize display-5 text-center">
                    reset password
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="mb-3">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" name="email" id="email" placeholder="Email" value="{{ email }}" >
                            </label>
                        </div>

                        <div class="display-5 mb-3 mt-3">
                        {{#if message}}
                            <div class="alert alert-success">
                                {{message}}                        
                            </div>
                        {{/if}}
                        {{#if error}}
                            <div class="alert alert-danger">
                                {{error}}                        
                            </div>
                        {{/if}}
                        </div>

                        <div class="row">
                            
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary btn-block btn-raised ripple" id="resetpassword">Reset Password</button>
                            </div>

                            <div class="col-md-6">
                                <a class="btn btn-block btn-outline-primary btn-raised ripple" href="/login" class="">Login</a>    
                            </div>

                        </div>


                        <div>
                            
                        </div>

                        <div class="text-center mt-3">
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>