
<form action="/setup" method="post">

    <div class="row justify-content-center">
        <div class="col-sm-7 col-md-6 col-lg-5 col-xl-4">
            <div class="card animated fadeIn faster">
                <div class="card-header bg-primary text-white display-5">
                    Create user
                </div>
                <div class="card-body">

                    <div class="row">

                        <div class="col-md-12 mb-3">
                            <label for="name">name</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="name">
                        </div>


                        <div class="col-md-12 mb-3">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                        </div>

                        <div class="col-md-12 mb-3">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                        </div>

                        <div class="col-md-12 mb-3">
                            <button type="submit" class="btn btn-primary btn-raised ripple" id="login">Create user</button>
                        </div>

                    </div>

                    
                </div>
            </div>
        </div>
    </div>

</form>


